<a href="https://colab.research.google.com/github/lakshayae162/EDA/blob/main/Chapter2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **MODULE 2 - EXERCISES**

## **Merging database-style dataframes**

Creating two data frames from the dataset.
Splitting the dataset into 2 halves.


*   First half of the dataset - Dataframe 1
*   Second half of the dataset - Dataframe 2

In [2]:
#Importing packages and libraries
import pandas as pd
import numpy as np

In [3]:
#Loading the dataset
url = 'https://raw.githubusercontent.com/salemprakash/EDA/main/Data/VerbAgg.csv'
data = pd.read_csv(url)

In [4]:
# Splitting the dataset into two dataframes
df1 = data.iloc[:len(data)//2]  # First half
df2 = data.iloc[len(data)//2:]  # Second half

In [5]:
print(df1.shape)
df1.head(10)

(3792, 10)

   rownames  Anger Gender         item     resp  id  btype   situ  mode r2
0         1     20      M  S1WantCurse       no   1  curse  other  want  N
1         2     11      M  S1WantCurse       no   2  curse  other  want  N
2         3     17      F  S1WantCurse  perhaps   3  curse  other  want  Y
3         4     21      F  S1WantCurse  perhaps   4  curse  other  want  Y
4         5     17      F  S1WantCurse  perhaps   5  curse  other  want  Y
5         6     21      F  S1WantCurse      yes   6  curse  other  want  Y
6         7     39      F  S1WantCurse      yes   7  curse  other  want  Y
7         8     21      F  S1WantCurse       no   8  curse  other  want  N
8         9     24      F  S1WantCurse       no   9  curse  other  want  N
9        10     16      F  S1WantCurse      yes  10  curse  other  want  Y

In [6]:
print(df2.shape)
df2.head(10)

(3792, 10)

      rownames  Anger Gender       item     resp  id  btype   situ mode r2
3792      3793     20      M  S1DoCurse  perhaps   1  curse  other   do  Y
3793      3794     11      M  S1DoCurse       no   2  curse  other   do  N
3794      3795     17      F  S1DoCurse       no   3  curse  other   do  N
3795      3796     21      F  S1DoCurse  perhaps   4  curse  other   do  Y
3796      3797     17      F  S1DoCurse  perhaps   5  curse  other   do  Y
3797      3798     21      F  S1DoCurse      yes   6  curse  other   do  Y
3798      3799     39      F  S1DoCurse      yes   7  curse  other   do  Y
3799      3800     21      F  S1DoCurse      yes   8  curse  other   do  Y
3800      3801     24      F  S1DoCurse      yes   9  curse  other   do  Y
3801      3802     16      F  S1DoCurse  perhaps  10  curse  other   do  Y

In [7]:
# Concatenate the two dataframes row-wise
concat_row = pd.concat([df1, df2], ignore_index=True)
print("Concatenated (row-wise):")
print(concat_row)

Concatenated (row-wise):
      rownames  Anger Gender         item     resp   id  btype   situ  mode r2
0            1     20      M  S1WantCurse       no    1  curse  other  want  N
1            2     11      M  S1WantCurse       no    2  curse  other  want  N
2            3     17      F  S1WantCurse  perhaps    3  curse  other  want  Y
3            4     21      F  S1WantCurse  perhaps    4  curse  other  want  Y
4            5     17      F  S1WantCurse  perhaps    5  curse  other  want  Y
...        ...    ...    ...          ...      ...  ...    ...    ...   ... ..
7579      7580     17      M    S4DoShout       no  312  shout   self    do  N
7580      7581     20      F    S4DoShout       no  313  shout   self    do  N
7581      7582     25      F    S4DoShout       no  314  shout   self    do  N
7582      7583     23      F    S4DoShout       no  315  shout   self    do  N
7583      7584     12      F    S4DoShout       no  316  shout   self    do  N

[7584 rows x 10 columns]

In [8]:
# Concatenate the two dataframes column-wise
concat_column = pd.concat([df1, df2], axis=1)
print("\nConcatenated (column-wise):")
print(concat_column)

Concatenated (column-wise):
      rownames  Anger Gender         item     resp   id  btype   situ  mode  \
0          1.0   20.0      M  S1WantCurse       no  1.0  curse  other  want
1          2.0   11.0      M  S1WantCurse       no  2.0  curse  other  want
2          3.0   17.0      F  S1WantCurse  perhaps  3.0  curse  other  want
3          4.0   21.0      F  S1WantCurse  perhaps  4.0  curse  other  want
4          5.0   17.0      F  S1WantCurse  perhaps  5.0  curse  other  want
...        ...    ...    ...          ...      ...  ...    ...    ...   ...
7579       NaN    NaN    NaN          NaN      NaN  NaN    NaN    NaN   NaN
7580       NaN    NaN    NaN          NaN      NaN  NaN    NaN    NaN   NaN
7581       NaN    NaN    NaN          NaN      NaN  NaN    NaN    NaN   NaN
7582       NaN    NaN    NaN          NaN      NaN  NaN    NaN    NaN   NaN
7583       NaN    NaN    NaN          NaN      NaN  NaN    NaN    NaN   NaN

       r2  rownames  Anger Gender       item resp     id  btype  situ mode  \
0       N       NaN    NaN    NaN        NaN  NaN    NaN    NaN   NaN  NaN
1       N       NaN    NaN    NaN        NaN  NaN    NaN    NaN   NaN  NaN
2       Y       NaN    NaN    NaN        NaN  NaN    NaN    NaN   NaN  NaN
3       Y       NaN    NaN    NaN        NaN  NaN    NaN    NaN   NaN  NaN
4       Y       NaN    NaN    NaN        NaN  NaN    NaN    NaN   NaN  NaN
...   ...       ...    ...    ...        ...  ...    ...    ...   ...  ...
7579  NaN    7580.0   17.0      M  S4DoShout   no  312.0  shout  self   do
7580  NaN    7581.0   20.0      F  S4DoShout   no  313.0  shout  self   do
7581  NaN    7582.0   25.0      F  S4DoShout   no  314.0  shout  self   do
7582  NaN    7583.0   23.0      F  S4DoShout   no  315.0  shout  self   do
7583  NaN    7584.0   12.0      F  S4DoShout   no  316.0  shout  self   do

       r2
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
...   ...
7579    N
7580    N
7581    N
7582    N
7583    N

[7584 rows x 20 columns]

## **Merging**

Splitting the dataset into 4 and performing Merge operations for the 4 dataframes.



*   Left Join
*   Right Join


*   Inner Join
*   Outer Join

In [9]:
print(data.columns)

Index(['rownames', 'Anger', 'Gender', 'item', 'resp', 'id', 'btype', 'situ',
       'mode', 'r2'],
      dtype='object')

In [10]:
# Splitting the dataset into 4 dataframes
df11 = data.iloc[:len(data)//4]          # First quarter
df12 = data.iloc[len(data)//4:len(data)//2]  # Second quarter
df13 = data.iloc[len(data)//2:3*len(data)//4]  # Third quarter
df14 = data.iloc[3*len(data)//4:]          # Fourth quarter

In [11]:
#Concat()
df22 = pd.concat([df11, df12], ignore_index=True)
df44 = pd.concat([df13, df14], ignore_index=True)

#Inner join
df_inner = df22.merge(df44, how='inner')
print(df_inner.shape)
print("Inner Join:")
print(df_inner.head())

(0, 10)
Inner Join:
Empty DataFrame
Columns: [rownames, Anger, Gender, item, resp, id, btype, situ, mode, r2]
Index: []

In [12]:
#Left join
df_left = df22.merge(df44, how='left')
print(df_left.shape)
print("Left Join:")
print(df_left.head())

(3792, 10)
Left Join:
   rownames  Anger Gender         item     resp  id  btype   situ  mode r2
0         1     20      M  S1WantCurse       no   1  curse  other  want  N
1         2     11      M  S1WantCurse       no   2  curse  other  want  N
2         3     17      F  S1WantCurse  perhaps   3  curse  other  want  Y
3         4     21      F  S1WantCurse  perhaps   4  curse  other  want  Y
4         5     17      F  S1WantCurse  perhaps   5  curse  other  want  Y

In [13]:
#Right Join
df_right = df22.merge(df22, how='right')
print(df_right.shape)
print("Right Join:")
print(df_right.head())

(3792, 10)
Right Join:
   rownames  Anger Gender         item     resp  id  btype   situ  mode r2
0         1     20      M  S1WantCurse       no   1  curse  other  want  N
1         2     11      M  S1WantCurse       no   2  curse  other  want  N
2         3     17      F  S1WantCurse  perhaps   3  curse  other  want  Y
3         4     21      F  S1WantCurse  perhaps   4  curse  other  want  Y
4         5     17      F  S1WantCurse  perhaps   5  curse  other  want  Y

In [14]:
#Outer Join
df_outer = df22.merge(df44, how='outer')
print(df_outer.shape)
print("Outer Join:")
print(df_outer.head())

(7584, 10)
Outer Join:
   rownames  Anger Gender         item     resp  id  btype   situ  mode r2
0         1     20      M  S1WantCurse       no   1  curse  other  want  N
1         2     11      M  S1WantCurse       no   2  curse  other  want  N
2         3     17      F  S1WantCurse  perhaps   3  curse  other  want  Y
3         4     21      F  S1WantCurse  perhaps   4  curse  other  want  Y
4         5     17      F  S1WantCurse  perhaps   5  curse  other  want  Y

## **Reshaping with Hierarchical Indexing**

In [15]:
df_reshaped = data.set_index(['rownames', 'Gender']).sort_index()
print("Reshaped with hierarchical indexing:")
print(df_reshaped.head())

Reshaped with hierarchical indexing:
                 Anger         item     resp  id  btype   situ  mode r2
rownames Gender
1        M          20  S1WantCurse       no   1  curse  other  want  N
2        M          11  S1WantCurse       no   2  curse  other  want  N
3        F          17  S1WantCurse  perhaps   3  curse  other  want  Y
4        F          21  S1WantCurse  perhaps   4  curse  other  want  Y
5        F          17  S1WantCurse  perhaps   5  curse  other  want  Y

## **Transformation techniques**

### 1. Data Deduplication

In [16]:
deduplicated_df = data.drop_duplicates()
print("Deduplicated DataFrame:")
print(deduplicated_df)

Deduplicated DataFrame:
      rownames  Anger Gender         item     resp   id  btype   situ  mode r2
0            1     20      M  S1WantCurse       no    1  curse  other  want  N
1            2     11      M  S1WantCurse       no    2  curse  other  want  N
2            3     17      F  S1WantCurse  perhaps    3  curse  other  want  Y
3            4     21      F  S1WantCurse  perhaps    4  curse  other  want  Y
4            5     17      F  S1WantCurse  perhaps    5  curse  other  want  Y
...        ...    ...    ...          ...      ...  ...    ...    ...   ... ..
7579      7580     17      M    S4DoShout       no  312  shout   self    do  N
7580      7581     20      F    S4DoShout       no  313  shout   self    do  N
7581      7582     25      F    S4DoShout       no  314  shout   self    do  N
7582      7583     23      F    S4DoShout       no  315  shout   self    do  N
7583      7584     12      F    S4DoShout       no  316  shout   self    do  N

[7584 rows x 10 columns]

### 2. Replacing values from the dataset to a new dataset

In [17]:
#Replacing "yes" with "Y" and "no" with "N" in the 'resp' column

replaced_df = data.copy()
replaced_df['resp'] = replaced_df['resp'].replace({'yes': 'Y', 'no': 'N'})
print(data.head)
print("DataFrame with replaced values:")
print(replaced_df.head())

<bound method NDFrame.head of       rownames  Anger Gender         item     resp   id  btype   situ  mode r2
0            1     20      M  S1WantCurse       no    1  curse  other  want  N
1            2     11      M  S1WantCurse       no    2  curse  other  want  N
2            3     17      F  S1WantCurse  perhaps    3  curse  other  want  Y
3            4     21      F  S1WantCurse  perhaps    4  curse  other  want  Y
4            5     17      F  S1WantCurse  perhaps    5  curse  other  want  Y
...        ...    ...    ...          ...      ...  ...    ...    ...   ... ..
7579      7580     17      M    S4DoShout       no  312  shout   self    do  N
7580      7581     20      F    S4DoShout       no  313  shout   self    do  N
7581      7582     25      F    S4DoShout       no  314  shout   self    do  N
7582      7583     23      F    S4DoShout       no  315  shout   self    do  N
7583      7584     12      F    S4DoShout       no  316  shout   self    do  N

[7584 rows x 10 columns]>
DataFrame with replaced values:
   rownames  Anger Gender         item     resp  id  btype   situ  mode r2
0         1     20      M  S1WantCurse        N   1  curse  other  want  N
1         2     11      M  S1WantCurse        N   2  curse  other  want  N
2         3     17      F  S1WantCurse  perhaps   3  curse  other  want  Y
3         4     21      F  S1WantCurse  perhaps   4  curse  other  want  Y
4         5     17      F  S1WantCurse  perhaps   5  curse  other  want  Y

### 3. Handling missing data

In [18]:
missing_data = data.isnull().sum()
print("Missing data count per column:")
print(missing_data)

Missing data count per column:
rownames    0
Anger       0
Gender      0
item        0
resp        0
id          0
btype       0
situ        0
mode        0
r2          0
dtype: int64

### 4. Dropping missing values

In [19]:
df_dropped_na = data.dropna()
print("DataFrame after dropping missing values:")
print(df_dropped_na.head())

data.isnull().values.any()

DataFrame after dropping missing values:
   rownames  Anger Gender         item     resp  id  btype   situ  mode r2
0         1     20      M  S1WantCurse       no   1  curse  other  want  N
1         2     11      M  S1WantCurse       no   2  curse  other  want  N
2         3     17      F  S1WantCurse  perhaps   3  curse  other  want  Y
3         4     21      F  S1WantCurse  perhaps   4  curse  other  want  Y
4         5     17      F  S1WantCurse  perhaps   5  curse  other  want  Y

False

### 5. Filling missing values

In [20]:
#Filling missing values with 'Mean' value


df_filled_na = data.fillna(data.mean(numeric_only=True))
print("DataFrame after filling missing values:")
print(df_filled_na.head())

data.isnull().values.any()

DataFrame after filling missing values:
   rownames  Anger Gender         item     resp  id  btype   situ  mode r2
0         1     20      M  S1WantCurse       no   1  curse  other  want  N
1         2     11      M  S1WantCurse       no   2  curse  other  want  N
2         3     17      F  S1WantCurse  perhaps   3  curse  other  want  Y
3         4     21      F  S1WantCurse  perhaps   4  curse  other  want  Y
4         5     17      F  S1WantCurse  perhaps   5  curse  other  want  Y

False

## **Discretization and binning**

In [23]:
# Bin edges
bins = [0, 10, 20, 40]
# Bin labels
bin_labels = ['low', 'medium', 'high']

# Perform binning
data['Anger_binned'] = pd.cut(data['Anger'], bins=bins, labels=bin_labels, include_lowest=True)

print("Discretized (Binned) 'Anger' Column:")
print(data[['Anger', 'Anger_binned']])

Discretized (Binned) 'Anger' Column:
      Anger Anger_binned
0        20       medium
1        11       medium
2        17       medium
3        21         high
4        17       medium
...     ...          ...
7579     17       medium
7580     20       medium
7581     25         high
7582     23         high
7583     12       medium

[7584 rows x 2 columns]

## **Outlier Detection and Filtering**

In [24]:
Q1 = data['Anger'].quantile(0.25)
Q3 = data['Anger'].quantile(0.75)

# Interquartile Range (IQR)
IQR = Q3 - Q1

# Bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Detect outliers
outliers = data[(data['Anger'] < lower_bound) | (data['Anger'] > upper_bound)]
print("Outliers in 'Anger' column:")
print(outliers[['Anger']])

# Filtering out outliers
df_filtered = data[(data['Anger'] >= lower_bound) & (data['Anger'] <= upper_bound)]
print("\nDataset after filtering out outliers:")
print(df_filtered[['Anger']])

Outliers in 'Anger' column:
      Anger
6        39
12       36
24       33
32       33
49       35
...     ...
7300     33
7317     35
7519     34
7529     34
7573     33

[192 rows x 1 columns]

Dataset after filtering out outliers:
      Anger
0        20
1        11
2        17
3        21
4        17
...     ...
7579     17
7580     20
7581     25
7582     23
7583     12

[7392 rows x 1 columns]